@charset 'utf-8';
@font-face {
  font-family: "PingFang SC";
  src: url("../fonts/PingFang-Regular.eot");
  src: url("../fonts/PingFang-Regular.eot?#font-spider") format("embedded-opentype"), url('../fonts/PingFang-Regular.woff') format('woff'), url('../fonts/PingFang-Regular.ttf') format('truetype'), url('../fonts/PingFang-Regular.svg') format('svg');
}

@font-face {
  font-family: "PingFang SC Light";
  src: url("../fonts/PingFang-Light.eot");
  src: url("../fonts/PingFang-Light.eot?#font-spider") format("embedded-opentype"), url('../fonts/PingFang-Light.woff') format('woff'), url('../fonts/PingFang-Light.ttf') format('truetype'), url('../fonts/PingFang-Light.svg') format('svg');
}

@font-face {
  font-family: "PingFang SC ExtraLight";
  src: url("../fonts/PingFang-ExtraLight.eot");
  src: url("../fonts/PingFang-ExtraLight.eot?#font-spider") format("embedded-opentype"), url('../fonts/PingFang-ExtraLight.woff') format('woff'), url('../fonts/PingFang-ExtraLight.ttf') format('truetype'), url('../fonts/PingFang-ExtraLight.svg') format('svg');
}

@font-face {
  font-family: "PingFang SC Bold";
  src: url("../fonts/PingFang-Bold.eot");
  src: url("../fonts/PingFang-Bold.eot?#font-spider") format("embedded-opentype"), url('../fonts/PingFang-Bold.woff') format('woff'), url('../fonts/PingFang-Bold.ttf') format('truetype'), url('../fonts/PingFang-Bold.svg') format('svg');
}

@font-face {
  font-family: "PingFang SC Medium";
  src: url("../fonts/PingFang-Medium.eot");
  src: url("../fonts/PingFang-Medium.eot?#font-spider") format("embedded-opentype"), url('../fonts/PingFang-Medium.woff') format('woff'), url('../fonts/PingFang-Medium.ttf') format('truetype'), url('../fonts/PingFang-Medium.svg') format('svg');
}

@font-face {
  font-family: "PingFang SC Heavy";
  src: url("../fonts/PingFang-Heavy.eot");
  src: url("../fonts/PingFang-Heavy.eot?#font-spider") format("embedded-opentype"), url('../fonts/PingFang-Heavy.woff') format('woff'), url('../fonts/PingFang-Heavy.ttf') format('truetype'), url('../fonts/PingFang-Heavy.svg') format('svg');
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul {
  font-size: 0;
}

ul,
li {
  list-style: none;
}

li {
  font-size: 1rem;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color:#F4F4F4;
}
a{font-size:20pt;text-decoration: none;position: relative;}
a.btn{color:#fff;padding:10px 15px;background:#75CCBA;display:inline-block;margin:20px 0 20px 20px;border-radius:10px;}
a.btn i{padding-right:10px;}

