@charset 'utf-8';
.container {
    font-size: 0;
    max-width: 12rem;
    margin: 0 auto;
    position: relative;
    .item {
        display: inline-block;
        width: 33.33%;
        height: auto;
        padding: .1rem;
        position: relative;
        border: none;
        .card {
            display: block;
            height: 100%;
            background: #dedede;
            position: relative;
            cursor: zoom-in;
            img {
                width: 100%;
                border: 0;
            }
            .mark {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 40%, transparent 60%, rgba(0, 0, 0, .6));
                filter: blur(15px);
                z-index: 1px;
                transition: all .5s ease;
            }
            .options {
                font-size: .12rem;
                position: absolute;
                right: .05rem;
                bottom: .05rem;
                padding: .05rem;
                display: block;
                text-align: right;
                transition: all .5s ease;
                opacity: 0;
            }
            .ctrl {
                display: inline-block;
                height: .32rem;
                line-height: .31rem;
                background-color: hsla(0, 0%, 100%, .8);
                border: 1px solid transparent;
                cursor: pointer;
                border-radius: .06rem;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
                text-align: center;
                padding: 0 .1rem;
                &.heart {
                    .icon {
                        color: #f15151 !important;
                    }
                }
                &:hover {
                    background: #fff;
                }
            }
            .t {
                margin-left: .05rem;
                font-style: normal;
            }
            .description {
                position: absolute;
                width: 100%;
                left: .05rem;
                top: .05rem;
                display: block;
                color: #fff;
                opacity: 0;
                transition: all .5s ease;
                h3 {
                    font-size: .14rem;
                    letter-spacing: .01rem;
                    font-weight: 400;
                    color: #fff;
                    padding: .02rem;
                }
                p {
                    font-size: .12rem;
                    .icon {
                        color: #dedede;
                    }
                    .t {
                        color: #dedede;
                    }
                }
            }
        }
        &:hover {
            .mark {
                opacity: 1;
            }
            .options {
                opacity: 1;
            }
            .description {
                opacity: 1;
            }
        }
    }
}

.mobile {
    .mark,
    .options,
    .description {
        opacity: 1 !important;
    }
}

@media only screen and (max-width:980px) {
    .item {
        padding: .08rem !important;
        width: 50% !important;
    }
}


/**********************Detail.css***********************/
.detail{
    height: 100vh;
    position:relative;
    .mark{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:-1;
        background-size:cover;
        background-position:center;
        transition:all 1.5s ease;
        filter:blur(30px);
    }
    .preview{
        img {
            width: 0;
            height:0;
            position:absolute;
            border: 0;
        }
        .options {
            font-size: .12rem;
            padding: .1rem;
            width:100%;
            display: block;
            text-align: right;
            transition: all .5s ease;
        }
        .ctrl {
            display: inline-block;
            height: .32rem;
            line-height: .31rem;
            background-color: hsla(0, 0%, 100%, .8);
            border: 1px solid transparent;
            cursor: pointer;
            border-radius: .06rem;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
            text-align: center;
            padding: 0 .1rem;
            &.heart {
                .icon {
                    color: #f15151 !important;
                }
            }
            &.left{
                left:.15rem;
                top:.1rem;
                position:absolute;
            }
            &:hover {
                background: #fff;
            }
            .t{
                font-style:normal;
                margin-left:.05rem;
                display:inline-block;
                vertical-align: top;
            }
        }
        .description{
            position:absolute;
            left:0;
            bottom:0;
            padding:.1rem;
            display:block;
            width:100%;
            color:#fff;
            background:rgba(1,1,1,.5);
            .title{
                font-size:.2rem;
            }
            .sub{
                color:#c6cccc;
            }
            .t{
                font-style:normal;
                margin-left:.05rem;
                display:inline-block;
                vertical-align: top;
            }
            .show+.show{
                margin-left:.3rem;
            }
        }
                    
    }
}